.pa-header {
	flex-grow: 0;
	width: 100%;
	height: 60px;
	padding: 0;
    background: #fff;
	box-shadow: 0 1px 4px rgba(0,21,41,.08);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pa-header > div {
	display: flex;
	flex-direction: flex;
	justify-content: center;
	align-items: center;
}

.pa-header-icon{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}